{% load static %}  <!-- Add this line to load static files -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'notes/styles.css' %}">
    <title>Login</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="register-container">
            <h2>Login</h2>
            <form method="post">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" required>
                </div>
                <br>
                <button type="submit">Login</button>
                <p>Don't have an account? <a href="{% url 'register' %}" style=" align-items: center;">Register here</a></p>
            </form>
            </div>
            
    </form>
</body>
</html>